* {
margin: 0;
padding: 0;
font-family: 'orbitron', sans-serif;
font-size: 35px;

}
body{
    background-color: cadetblue;
}
.calc{
    background-color: #39383d;
    width: 324px;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
}
/* td{
width: 50px;
background-color: cadetblue; */

.calc-display{
    width: 100%;
}
input[type=button]{
    width: 75px;
    height: 75px;
    margin: 2px;
    color: #fff;
    border: none;
    border-radius: 8px;
    background-color: #58595b;
}